/*任务管理   浮动窗口*/

.white_content {
    display: none;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 55%;
    height: 70%;
    padding: 20px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.253);
    background-color: white;
    overflow: auto;
    z-index: 99;
}

.white_content .move_table {
    position: absolute;
    top: 10%;
    font-size: 18px;
    /* border: 1px solid black; */
    border-collapse: separate;
    border-spacing: 50px 30px;
}

.white_content .bottom_btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}